body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#home {
    text-align: center;
    background: #f4f4f4;
    padding: 5em 0;
}

#projects .project {
    margin: 1em 0;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin: 0.5em 0 0.2em;
}

#contact-form input,
#contact-form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contact-form button {
    padding: 0.7em;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
